Cezary Tytko 118873

In [1]:
import pandas as pd
import numpy as np

# Zadania do samodzielnego wykonania

## Ćwiczenie 1

Załaduj plik csv do obiektu DataFrame o nazwie df:
https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv
Ustaw indeks na pierwszą kolumnę. Wydrukuj zawartość obiektu df do konsoli.

In [2]:
df = pd.read_csv("https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv", index_col=0)
print(df)

                                  Name    Location  Year  Kilometers_Driven  \
0               Maruti Wagon R LXI CNG      Mumbai  2010              72000
1     Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                         Honda Jazz V     Chennai  2011              46000
3                    Maruti Ertiga VDI     Chennai  2012              87000
4      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
...                                ...         ...   ...                ...
6014                  Maruti Swift VDI       Delhi  2014              27365
6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015             100000
6016             Mahindra Xylo D4 BSIV      Jaipur  2012              55000
6017                Maruti Wagon R VXI     Kolkata  2013              46000
6018             Chevrolet Beat Diesel   Hyderabad  2011              47000

     Fuel_Type Transmission Owner_Type     Mileage   Engine      Power  Seats  \
0          CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1       Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2       Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3       Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4       Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0
...        ...          ...        ...         ...      ...        ...    ...
6014    Diesel       Manual      First   28.4 kmpl  1248 CC     74 bhp    5.0
6015    Diesel       Manual      First   24.4 kmpl  1120 CC     71 bhp    5.0
6016    Diesel       Manual     Second   14.0 kmpl  2498 CC    112 bhp    8.0
6017    Petrol       Manual      First   18.9 kmpl   998 CC   67.1 bhp    5.0
6018    Diesel       Manual      First  25.44 kmpl   936 CC   57.6 bhp    5.0

      New_Price  Price
0           NaN   1.75
1           NaN  12.50
2     8.61 Lakh   4.50
3           NaN   6.00
4           NaN  17.74
...         ...    ...
6014  7.88 Lakh   4.75
6015        NaN   4.00
6016        NaN   2.90
6017        NaN   2.65
6018        NaN   2.50

[6019 rows x 13 columns]

## Ćwiczenie 2

Znajdź listę zawierającą nazwy wszystkich kolumn obiektu df (zad 1). Wydrukuj listę do konsoli.

In [3]:
kolumny = df.columns.tolist()
print(kolumny)

['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'New_Price', 'Price']

## Ćwiczenie 3

Z obiektu df usuń kolumnę o nazwie New_Price i wydrukuj pierwsze 5 wierszy.

In [4]:
df.drop("New_Price", axis=1, inplace=True)
print(df.head())

                               Name    Location  Year  Kilometers_Driven  \
0            Maruti Wagon R LXI CNG      Mumbai  2010              72000
1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                      Honda Jazz V     Chennai  2011              46000
3                 Maruti Ertiga VDI     Chennai  2012              87000
4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670

  Fuel_Type Transmission Owner_Type     Mileage   Engine      Power  Seats  \
0       CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1    Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2    Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3    Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4    Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0

   Price
0   1.75
1  12.50
2   4.50
3   6.00
4  17.74

## Ćwiczenie 4

Znajdź liczbę brakujących wartości dla każdej zmiennej w obiekcie df. Wydrukuj wynik do konsoli.

In [5]:
braki = df.isnull().sum()
print(braki)

Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                42
Price                 0
dtype: int64

## Ćwiczenie 5

Usuń wszystkie wiersze z brakami danych w obiekcie df. Użyj parametru inplace=True i wypisz
informacje o obiekcie df.

In [6]:
df.dropna(inplace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5975 entries, 0 to 6018
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               5975 non-null   object
 1   Location           5975 non-null   object
 2   Year               5975 non-null   int64
 3   Kilometers_Driven  5975 non-null   int64
 4   Fuel_Type          5975 non-null   object
 5   Transmission       5975 non-null   object
 6   Owner_Type         5975 non-null   object
 7   Mileage            5975 non-null   object
 8   Engine             5975 non-null   object
 9   Power              5975 non-null   object
 10  Seats              5975 non-null   float64
 11  Price              5975 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 606.8+ KB
None

## Ćwiczenie 6

Zastąp wszystkie duże litery w nazwach kolumn małymi, np. - Name -> name - Fuel_Type ->
fuel_type
Wyświetl pierwsze pięć wierszy za pomocą metody pd.DataFrame.head() i funkcji print().

In [7]:
df.columns = df.columns.str.lower()
print(df.head())

                               name    location  year  kilometers_driven  \
0            Maruti Wagon R LXI CNG      Mumbai  2010              72000
1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                      Honda Jazz V     Chennai  2011              46000
3                 Maruti Ertiga VDI     Chennai  2012              87000
4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670

  fuel_type transmission owner_type     mileage   engine      power  seats  \
0       CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1    Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2    Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3    Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4    Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0

   price
0   1.75
1  12.50
2   4.50
3   6.00
4  17.74

## Ćwiczenie 7

Znajdź rozkład zmiennej owner_type i wydrukuj do konsoli.

### Miejsce na rozwiązanie

In [8]:
rozklad_owner_type = df["owner_type"].value_counts()
print(rozklad_owner_type)

owner_type
First             4903
Second             953
Third              111
Fourth & Above       8
Name: count, dtype: int64

## Ćwiczenie 8

Spójrz na rozkład zmiennej engine. Zauważ, że zmienna engine jest typu object. Usuń ostatnie 3
znaki z każdego elementu tej zmiennej i przekonwertuj na typ int. Wydrukuj pierwsze pięć wierszy
za pomocą metody pd.DataFrame.head() i funkcji print() z kolumn: name oraz engine.

In [9]:
df["engine"] = df["engine"].str[:-3].astype(int)
print(df[["name", "engine"]].head())

                               name  engine
0            Maruti Wagon R LXI CNG     998
1  Hyundai Creta 1.6 CRDi SX Option    1582
2                      Honda Jazz V    1199
3                 Maruti Ertiga VDI    1248
4   Audi A4 New 2.0 TDI Multitronic    1968

## Ćwiczenie 9

Spójrz na rozkład zmiennej power. Zwróć uwagę, że w tej zmiennej występują brakujące wartości w
postaci null bhp. Zamień te brakujące wartości na np.nan. W tym celu użyj funkcji np.where().
W odpowiedzi wydrukuj rozkład zmiennej power do konsoli (tylko pierwsze pięć elementów według
częstotliwości)

In [10]:
df["power"] = np.where(df["power"] == "null bhp", np.nan, df["power"])
rozklad_power = df["power"].value_counts().head()
print(rozklad_power)

power
74 bhp      235
98.6 bhp    131
73.9 bhp    125
140 bhp     123
78.9 bhp    111
Name: count, dtype: int64

## Ćwiczenie 10

Pogrupuj dane na poziomie roku (year) i policz liczbę wierszy dla każdego roku. Wydrukuj wynik
do konsoli.

### Miejsce na rozwiązanie

In [12]:
liczba_wierszy_na_rok = df.groupby("year").size()
print(liczba_wierszy_na_rok)

year
1998      4
1999      2
2000      4
2001      7
2002     14
2003     15
2004     29
2005     55
2006     75
2007    123
2008    169
2009    196
2010    339
2011    461
2012    572
2013    648
2014    795
2015    741
2016    740
2017    586
2018    298
2019    102
dtype: int64

Wnioski: Zadania były jasne i klarowne, nie sprawiły problemów.