In [2]:
import pandas as pd

# Dane studenta

In [ ]:
Cezary Tytko 118873

# Zadania do samodzilnego wykonania

#### Wczytany plik google.csv będzie potrzebny do realizacji zadań od 1 do 10

## Zadanie 1

Załaduj zawartość pliku google.csv do obiektu DataFrame za pomocą biblioteki pandas i przypisz go do zmiennej google. Wydrukuj zawartość zmiennej google do konsoli.

### Miejsce na rozwiązanie

In [63]:
df_google = pd.read_csv('google.csv', index_col=0)
print(df_google)

               Open       High        Low    Close   Volume
Date
2020-07-02  1451.84  1488.5200  1451.0650  1469.93  2860915
2020-07-01  1419.17  1448.4800  1414.1800  1442.00  2109124
2020-06-30  1396.88  1424.0000  1386.9301  1418.05  2014320
2020-06-29  1360.34  1398.0000  1351.6500  1397.17  2253678
2020-06-26  1432.63  1437.0200  1355.0000  1362.54  4882014
2020-06-25  1431.22  1442.3200  1419.5401  1441.10  1197907
2020-06-24  1463.28  1475.7900  1430.0000  1432.70  1579579
2020-06-23  1452.00  1475.2000  1445.0000  1463.98  1887583
2020-06-22  1425.01  1450.9500  1419.1900  1450.66  1472072
2020-06-19  1440.00  1444.5000  1419.0000  1424.64  2639167
2020-06-18  1449.85  1452.9699  1426.2350  1434.12  1743071
2020-06-17  1452.94  1462.2000  1435.1250  1452.54  1530500
2020-06-16  1449.00  1457.1700  1428.9900  1446.47  1534826
2020-06-15  1389.49  1425.0000  1387.1952  1420.74  1527652
2020-06-12  1425.86  1434.5050  1385.8000  1412.92  1833756
2020-06-11  1441.03  1451.6033  1398.4100  1401.90  2357243
2020-06-10  1461.51  1472.7700  1454.3550  1464.70  1588116
2020-06-09  1445.24  1467.8000  1442.3600  1452.08  1681155
2020-06-08  1426.28  1449.0000  1424.4800  1448.04  1693881
2020-06-05  1415.64  1446.3000  1407.6213  1440.02  2132350
2020-06-04  1436.78  1441.3200  1406.0100  1414.30  1349105
2020-06-03  1442.70  1449.0100  1431.6200  1439.25  1386640
2020-06-02  1435.00  1443.0000  1421.6100  1442.31  1172069
2020-06-01  1425.70  1441.5800  1422.2800  1434.87  1259254
2020-05-29  1420.43  1436.7300  1415.9800  1433.52  1852522
2020-05-28  1400.00  1444.4600  1399.0760  1418.24  1759787
2020-05-27  1420.00  1425.3450  1394.6000  1420.28  1584185
2020-05-26  1441.96  1445.1100  1419.3950  1421.37  2229488
2020-05-22  1403.90  1417.0000  1395.9500  1413.24  1427206
2020-05-21  1410.99  1416.4600  1394.3900  1406.75  1544976

## Zadanie 2

Dla załadowanego pliku z zadania 1 wykonaj następujące polecenia:
- wydrukuj podstawowe informacje o obiekcie google
- wydrukuj pustą linię
- wydrukuj podstawowe statystyki obiektu google

Wskazówka: Użyj `pd.DataFrame.into()` oraz `pd.DataFrame.describe()`.

### Miejsce na rozwiązanie

In [64]:
print(df_google.info())
print()
print(df_google.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 2020-07-02 to 2020-05-21
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    30 non-null     float64
 1   High    30 non-null     float64
 2   Low     30 non-null     float64
 3   Close   30 non-null     float64
 4   Volume  30 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.4+ KB
None

              Open         High          Low        Close        Volume
count    30.000000    30.000000    30.000000    30.000000  3.000000e+01
mean   1428.889000  1445.470440  1412.767923  1430.681000  1.869471e+06
std      22.943586    19.462454    24.728358    22.717075  7.014872e+05
min    1360.340000  1398.000000  1351.650000  1362.540000  1.172069e+06
25%    1419.377500  1436.802500  1396.565000  1418.097500  1.528364e+06
50%    1431.925000  1444.805000  1419.095000  1433.820000  1.687518e+06
75%    1444.605000  1452.628250  1428.301250  1445.430000  2.085423e+06
max    1463.280000  1488.520000  1454.355000  1469.930000  4.882014e+06

## Zadanie 3

Dla załadowanego pliku z zadania 1 zamień indeks podanego obiektu DataFrame na kolumnę i przypisz na stałe zmiany do zmiennej google. Wydrukuj zawartość zmiennej google do konsoli.

### Miejsce na rozwiązanie

In [65]:
# df_google = df_google.set_index('Date')
# df_google['i'] = df_google.index
df_google = df_google.reset_index()
print(df_google)

          Date     Open       High        Low    Close   Volume
0   2020-07-02  1451.84  1488.5200  1451.0650  1469.93  2860915
1   2020-07-01  1419.17  1448.4800  1414.1800  1442.00  2109124
2   2020-06-30  1396.88  1424.0000  1386.9301  1418.05  2014320
3   2020-06-29  1360.34  1398.0000  1351.6500  1397.17  2253678
4   2020-06-26  1432.63  1437.0200  1355.0000  1362.54  4882014
5   2020-06-25  1431.22  1442.3200  1419.5401  1441.10  1197907
6   2020-06-24  1463.28  1475.7900  1430.0000  1432.70  1579579
7   2020-06-23  1452.00  1475.2000  1445.0000  1463.98  1887583
8   2020-06-22  1425.01  1450.9500  1419.1900  1450.66  1472072
9   2020-06-19  1440.00  1444.5000  1419.0000  1424.64  2639167
10  2020-06-18  1449.85  1452.9699  1426.2350  1434.12  1743071
11  2020-06-17  1452.94  1462.2000  1435.1250  1452.54  1530500
12  2020-06-16  1449.00  1457.1700  1428.9900  1446.47  1534826
13  2020-06-15  1389.49  1425.0000  1387.1952  1420.74  1527652
14  2020-06-12  1425.86  1434.5050  1385.8000  1412.92  1833756
15  2020-06-11  1441.03  1451.6033  1398.4100  1401.90  2357243
16  2020-06-10  1461.51  1472.7700  1454.3550  1464.70  1588116
17  2020-06-09  1445.24  1467.8000  1442.3600  1452.08  1681155
18  2020-06-08  1426.28  1449.0000  1424.4800  1448.04  1693881
19  2020-06-05  1415.64  1446.3000  1407.6213  1440.02  2132350
20  2020-06-04  1436.78  1441.3200  1406.0100  1414.30  1349105
21  2020-06-03  1442.70  1449.0100  1431.6200  1439.25  1386640
22  2020-06-02  1435.00  1443.0000  1421.6100  1442.31  1172069
23  2020-06-01  1425.70  1441.5800  1422.2800  1434.87  1259254
24  2020-05-29  1420.43  1436.7300  1415.9800  1433.52  1852522
25  2020-05-28  1400.00  1444.4600  1399.0760  1418.24  1759787
26  2020-05-27  1420.00  1425.3450  1394.6000  1420.28  1584185
27  2020-05-26  1441.96  1445.1100  1419.3950  1421.37  2229488
28  2020-05-22  1403.90  1417.0000  1395.9500  1413.24  1427206
29  2020-05-21  1410.99  1416.4600  1394.3900  1406.75  1544976

## Zadanie 4

Przypisz dwie nowe kolumny do obiektu google (z pliku z zad.1) dodając kolumnę z numerem bieżącego miesiąca o nazwie 'Month' oraz kolumnę zawierającą odpowiedni rok o nazwie 'Year'. Wydrukuj wynik do konsoli.

### Miejsce na rozwiązanie

In [66]:
# df_google.index = pd.to_datetime(df_google.index)
# df_google['Month'] = df_google.index.month
# df_google['Year'] = df_google.index.year
df_google.Date = pd.to_datetime(df_google.Date)
df_google['Month'] = df_google.Date.dt.month
df_google['Year'] = df_google.Date.dt.year
print(df_google)

         Date     Open       High        Low    Close   Volume  Month  Year
0  2020-07-02  1451.84  1488.5200  1451.0650  1469.93  2860915      7  2020
1  2020-07-01  1419.17  1448.4800  1414.1800  1442.00  2109124      7  2020
2  2020-06-30  1396.88  1424.0000  1386.9301  1418.05  2014320      6  2020
3  2020-06-29  1360.34  1398.0000  1351.6500  1397.17  2253678      6  2020
4  2020-06-26  1432.63  1437.0200  1355.0000  1362.54  4882014      6  2020
5  2020-06-25  1431.22  1442.3200  1419.5401  1441.10  1197907      6  2020
6  2020-06-24  1463.28  1475.7900  1430.0000  1432.70  1579579      6  2020
7  2020-06-23  1452.00  1475.2000  1445.0000  1463.98  1887583      6  2020
8  2020-06-22  1425.01  1450.9500  1419.1900  1450.66  1472072      6  2020
9  2020-06-19  1440.00  1444.5000  1419.0000  1424.64  2639167      6  2020
10 2020-06-18  1449.85  1452.9699  1426.2350  1434.12  1743071      6  2020
11 2020-06-17  1452.94  1462.2000  1435.1250  1452.54  1530500      6  2020
12 2020-06-16  1449.00  1457.1700  1428.9900  1446.47  1534826      6  2020
13 2020-06-15  1389.49  1425.0000  1387.1952  1420.74  1527652      6  2020
14 2020-06-12  1425.86  1434.5050  1385.8000  1412.92  1833756      6  2020
15 2020-06-11  1441.03  1451.6033  1398.4100  1401.90  2357243      6  2020
16 2020-06-10  1461.51  1472.7700  1454.3550  1464.70  1588116      6  2020
17 2020-06-09  1445.24  1467.8000  1442.3600  1452.08  1681155      6  2020
18 2020-06-08  1426.28  1449.0000  1424.4800  1448.04  1693881      6  2020
19 2020-06-05  1415.64  1446.3000  1407.6213  1440.02  2132350      6  2020
20 2020-06-04  1436.78  1441.3200  1406.0100  1414.30  1349105      6  2020
21 2020-06-03  1442.70  1449.0100  1431.6200  1439.25  1386640      6  2020
22 2020-06-02  1435.00  1443.0000  1421.6100  1442.31  1172069      6  2020
23 2020-06-01  1425.70  1441.5800  1422.2800  1434.87  1259254      6  2020
24 2020-05-29  1420.43  1436.7300  1415.9800  1433.52  1852522      5  2020
25 2020-05-28  1400.00  1444.4600  1399.0760  1418.24  1759787      5  2020
26 2020-05-27  1420.00  1425.3450  1394.6000  1420.28  1584185      5  2020
27 2020-05-26  1441.96  1445.1100  1419.3950  1421.37  2229488      5  2020
28 2020-05-22  1403.90  1417.0000  1395.9500  1413.24  1427206      5  2020
29 2020-05-21  1410.99  1416.4600  1394.3900  1406.75  1544976      5  2020

## Zadanie 5

Oblicz średnią cenę zamknięcia dla każdego miesiąca. Wydrukuj wynik do konsoli.

Wskazówka: dane pogrupuj według miesiąca - kolumna Month, a następnie policz średnią wartość.

### Miejsce na rozwiązanie

In [67]:
mean = df_google.groupby(df_google.Month)['Close'].mean()
print(mean)

Month
5    1418.900000
6    1431.595455
7    1455.965000
Name: Close, dtype: float64

## Zadanie 6

Znajdź indeks dla którego kolumna Close ma najniższą wartość i przypisz go do zmiennej idx_min. Następnie wyodrębnij wiersz dla tego indeksu z obiektu google jako obiekt DataFrame. Wydrukuj ten wiersz do konsoli.

### Miejsce na rozwiązanie

In [68]:
idx_min = df_google.Close.idxmin()
print(idx_min)
print(df_google.loc[idx_min])

4
Date      2020-06-26 00:00:00
Open                  1432.63
High                  1437.02
Low                    1355.0
Close                 1362.54
Volume                4882014
Month                       6
Year                     2020
Name: 4, dtype: object

## Zadanie 7

Wyodrębnij kolumny Date, Open, Close, Volume z obiektu google. Wydrukuj wynik do konsoli.

### Miejsce na rozwiązanie

In [69]:
date = df_google.Date
open = df_google.Open
close = df_google.Close
volume = df_google.Volume
print(date)
print(open)
print(close)
print(volume)

0    2020-07-02
1    2020-07-01
2    2020-06-30
3    2020-06-29
4    2020-06-26
5    2020-06-25
6    2020-06-24
7    2020-06-23
8    2020-06-22
9    2020-06-19
10   2020-06-18
11   2020-06-17
12   2020-06-16
13   2020-06-15
14   2020-06-12
15   2020-06-11
16   2020-06-10
17   2020-06-09
18   2020-06-08
19   2020-06-05
20   2020-06-04
21   2020-06-03
22   2020-06-02
23   2020-06-01
24   2020-05-29
25   2020-05-28
26   2020-05-27
27   2020-05-26
28   2020-05-22
29   2020-05-21
Name: Date, dtype: datetime64[ns]
0     1451.84
1     1419.17
2     1396.88
3     1360.34
4     1432.63
5     1431.22
6     1463.28
7     1452.00
8     1425.01
9     1440.00
10    1449.85
11    1452.94
12    1449.00
13    1389.49
14    1425.86
15    1441.03
16    1461.51
17    1445.24
18    1426.28
19    1415.64
20    1436.78
21    1442.70
22    1435.00
23    1425.70
24    1420.43
25    1400.00
26    1420.00
27    1441.96
28    1403.90
29    1410.99
Name: Open, dtype: float64
0     1469.93
1     1442.00
2     1418.05
3     1397.17
4     1362.54
5     1441.10
6     1432.70
7     1463.98
8     1450.66
9     1424.64
10    1434.12
11    1452.54
12    1446.47
13    1420.74
14    1412.92
15    1401.90
16    1464.70
17    1452.08
18    1448.04
19    1440.02
20    1414.30
21    1439.25
22    1442.31
23    1434.87
24    1433.52
25    1418.24
26    1420.28
27    1421.37
28    1413.24
29    1406.75
Name: Close, dtype: float64
0     2860915
1     2109124
2     2014320
3     2253678
4     4882014
5     1197907
6     1579579
7     1887583
8     1472072
9     2639167
10    1743071
11    1530500
12    1534826
13    1527652
14    1833756
15    2357243
16    1588116
17    1681155
18    1693881
19    2132350
20    1349105
21    1386640
22    1172069
23    1259254
24    1852522
25    1759787
26    1584185
27    2229488
28    1427206
29    1544976
Name: Volume, dtype: int64

## Zadanie 8

Ustaw indeks dla kolumny Date. Wydrukuj wynik do konsoli.

### Miejsce na rozwiązanie

In [70]:
df_google = df_google.set_index('Date')
print(df_google)

               Open       High        Low    Close   Volume  Month  Year
Date
2020-07-02  1451.84  1488.5200  1451.0650  1469.93  2860915      7  2020
2020-07-01  1419.17  1448.4800  1414.1800  1442.00  2109124      7  2020
2020-06-30  1396.88  1424.0000  1386.9301  1418.05  2014320      6  2020
2020-06-29  1360.34  1398.0000  1351.6500  1397.17  2253678      6  2020
2020-06-26  1432.63  1437.0200  1355.0000  1362.54  4882014      6  2020
2020-06-25  1431.22  1442.3200  1419.5401  1441.10  1197907      6  2020
2020-06-24  1463.28  1475.7900  1430.0000  1432.70  1579579      6  2020
2020-06-23  1452.00  1475.2000  1445.0000  1463.98  1887583      6  2020
2020-06-22  1425.01  1450.9500  1419.1900  1450.66  1472072      6  2020
2020-06-19  1440.00  1444.5000  1419.0000  1424.64  2639167      6  2020
2020-06-18  1449.85  1452.9699  1426.2350  1434.12  1743071      6  2020
2020-06-17  1452.94  1462.2000  1435.1250  1452.54  1530500      6  2020
2020-06-16  1449.00  1457.1700  1428.9900  1446.47  1534826      6  2020
2020-06-15  1389.49  1425.0000  1387.1952  1420.74  1527652      6  2020
2020-06-12  1425.86  1434.5050  1385.8000  1412.92  1833756      6  2020
2020-06-11  1441.03  1451.6033  1398.4100  1401.90  2357243      6  2020
2020-06-10  1461.51  1472.7700  1454.3550  1464.70  1588116      6  2020
2020-06-09  1445.24  1467.8000  1442.3600  1452.08  1681155      6  2020
2020-06-08  1426.28  1449.0000  1424.4800  1448.04  1693881      6  2020
2020-06-05  1415.64  1446.3000  1407.6213  1440.02  2132350      6  2020
2020-06-04  1436.78  1441.3200  1406.0100  1414.30  1349105      6  2020
2020-06-03  1442.70  1449.0100  1431.6200  1439.25  1386640      6  2020
2020-06-02  1435.00  1443.0000  1421.6100  1442.31  1172069      6  2020
2020-06-01  1425.70  1441.5800  1422.2800  1434.87  1259254      6  2020
2020-05-29  1420.43  1436.7300  1415.9800  1433.52  1852522      5  2020
2020-05-28  1400.00  1444.4600  1399.0760  1418.24  1759787      5  2020
2020-05-27  1420.00  1425.3450  1394.6000  1420.28  1584185      5  2020
2020-05-26  1441.96  1445.1100  1419.3950  1421.37  2229488      5  2020
2020-05-22  1403.90  1417.0000  1395.9500  1413.24  1427206      5  2020
2020-05-21  1410.99  1416.4600  1394.3900  1406.75  1544976      5  2020

## Zadanie 9

Trwale usuń kolumny Year i Month z obiektu google. Wydrukuj zmienną google do konsoli.

### Miejsce na rozwiązanie

In [71]:
df_google = df_google.drop(['Year','Month'], axis=1)
print(df_google)

               Open       High        Low    Close   Volume
Date
2020-07-02  1451.84  1488.5200  1451.0650  1469.93  2860915
2020-07-01  1419.17  1448.4800  1414.1800  1442.00  2109124
2020-06-30  1396.88  1424.0000  1386.9301  1418.05  2014320
2020-06-29  1360.34  1398.0000  1351.6500  1397.17  2253678
2020-06-26  1432.63  1437.0200  1355.0000  1362.54  4882014
2020-06-25  1431.22  1442.3200  1419.5401  1441.10  1197907
2020-06-24  1463.28  1475.7900  1430.0000  1432.70  1579579
2020-06-23  1452.00  1475.2000  1445.0000  1463.98  1887583
2020-06-22  1425.01  1450.9500  1419.1900  1450.66  1472072
2020-06-19  1440.00  1444.5000  1419.0000  1424.64  2639167
2020-06-18  1449.85  1452.9699  1426.2350  1434.12  1743071
2020-06-17  1452.94  1462.2000  1435.1250  1452.54  1530500
2020-06-16  1449.00  1457.1700  1428.9900  1446.47  1534826
2020-06-15  1389.49  1425.0000  1387.1952  1420.74  1527652
2020-06-12  1425.86  1434.5050  1385.8000  1412.92  1833756
2020-06-11  1441.03  1451.6033  1398.4100  1401.90  2357243
2020-06-10  1461.51  1472.7700  1454.3550  1464.70  1588116
2020-06-09  1445.24  1467.8000  1442.3600  1452.08  1681155
2020-06-08  1426.28  1449.0000  1424.4800  1448.04  1693881
2020-06-05  1415.64  1446.3000  1407.6213  1440.02  2132350
2020-06-04  1436.78  1441.3200  1406.0100  1414.30  1349105
2020-06-03  1442.70  1449.0100  1431.6200  1439.25  1386640
2020-06-02  1435.00  1443.0000  1421.6100  1442.31  1172069
2020-06-01  1425.70  1441.5800  1422.2800  1434.87  1259254
2020-05-29  1420.43  1436.7300  1415.9800  1433.52  1852522
2020-05-28  1400.00  1444.4600  1399.0760  1418.24  1759787
2020-05-27  1420.00  1425.3450  1394.6000  1420.28  1584185
2020-05-26  1441.96  1445.1100  1419.3950  1421.37  2229488
2020-05-22  1403.90  1417.0000  1395.9500  1413.24  1427206
2020-05-21  1410.99  1416.4600  1394.3900  1406.75  1544976

## Zadanie 10

Zamień następujące nazwy kolumn w zmiennej google:
 - Open -> O
 - High -> H
 - Low -> L
 - Close -> C
 - Volume -> V

Wydrukuj wynik do konsoli.

### Miejsce na rozwiązanie

In [77]:
names_dict = { 'Open':'O','Close' :'C','High':'H','Low':'L','Volume':'V'}
df_google = df_google.rename(columns= names_dict)
print(df_google)

                  O          H          L        C        V
Date
2020-07-02  1451.84  1488.5200  1451.0650  1469.93  2860915
2020-07-01  1419.17  1448.4800  1414.1800  1442.00  2109124
2020-06-30  1396.88  1424.0000  1386.9301  1418.05  2014320
2020-06-29  1360.34  1398.0000  1351.6500  1397.17  2253678
2020-06-26  1432.63  1437.0200  1355.0000  1362.54  4882014
2020-06-25  1431.22  1442.3200  1419.5401  1441.10  1197907
2020-06-24  1463.28  1475.7900  1430.0000  1432.70  1579579
2020-06-23  1452.00  1475.2000  1445.0000  1463.98  1887583
2020-06-22  1425.01  1450.9500  1419.1900  1450.66  1472072
2020-06-19  1440.00  1444.5000  1419.0000  1424.64  2639167
2020-06-18  1449.85  1452.9699  1426.2350  1434.12  1743071
2020-06-17  1452.94  1462.2000  1435.1250  1452.54  1530500
2020-06-16  1449.00  1457.1700  1428.9900  1446.47  1534826
2020-06-15  1389.49  1425.0000  1387.1952  1420.74  1527652
2020-06-12  1425.86  1434.5050  1385.8000  1412.92  1833756
2020-06-11  1441.03  1451.6033  1398.4100  1401.90  2357243
2020-06-10  1461.51  1472.7700  1454.3550  1464.70  1588116
2020-06-09  1445.24  1467.8000  1442.3600  1452.08  1681155
2020-06-08  1426.28  1449.0000  1424.4800  1448.04  1693881
2020-06-05  1415.64  1446.3000  1407.6213  1440.02  2132350
2020-06-04  1436.78  1441.3200  1406.0100  1414.30  1349105
2020-06-03  1442.70  1449.0100  1431.6200  1439.25  1386640
2020-06-02  1435.00  1443.0000  1421.6100  1442.31  1172069
2020-06-01  1425.70  1441.5800  1422.2800  1434.87  1259254
2020-05-29  1420.43  1436.7300  1415.9800  1433.52  1852522
2020-05-28  1400.00  1444.4600  1399.0760  1418.24  1759787
2020-05-27  1420.00  1425.3450  1394.6000  1420.28  1584185
2020-05-26  1441.96  1445.1100  1419.3950  1421.37  2229488
2020-05-22  1403.90  1417.0000  1395.9500  1413.24  1427206
2020-05-21  1410.99  1416.4600  1394.3900  1406.75  1544976

#### Utworzony w zadanu 11 df będzie potrzebny do realizacji pozostałych zadań

## Zadanie 11

Załaduj plik csv do obiektu DataFrame o nazwie df z domyślnymi parametrami funkcji pd.read_csv() i wyświetl pierwsze 5 wierszy. Adres URL do pliku:
 - https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv

Uwaga: Plik należy załadować bezpośrednio z adresu URL

### Miejsce na rozwiązanie

In [3]:
df = pd.read_csv('https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv')
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB
None
   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService
0  7590-VHVEG  Female              0     Yes         No       1           No  \
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection
0  No phone service             DSL             No  ...               No  \
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling
0          No          No              No  Month-to-month              Yes  \
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges Churn
0           Electronic check          29.85         29.85    No
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
4           Electronic check          70.70        151.65   Yes

[5 rows x 21 columns]

## Zadanie 12

 Określ liczbę brakujących elementów (np.nan) w obiekcie df (z zadania 11) dla każdej zmiennej. Wydrukuj wynik do konsoli.

### Miejsce na rozwiązanie

In [4]:
import numpy as np
brakujace_elementy = df.isnull().sum()
print(brakujace_elementy, '\n')

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

## Zadanie 13

Zwróć uwagę na kolumnę TotalCharges. Typ tej kolumny to object. Spróbuj zgadnąć, dlaczego tak się stało. Przyczynę opisz w komórce poniżej.

Nasępnie spróbuj zastąpić brakujące wartości kolumny TotalCharges jej medianą. Wydrukuj rozkład zmiennej TotalCharges do konsoli.

### Miejsce na rozwiązanie

In [5]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
zera = (df == 0).sum()
print(zera, '\n')

median_total_charges = df['TotalCharges'].median()

df['TotalCharges'].fillna(median_total_charges, inplace=True)

rozkład_total_charges = df['TotalCharges'].value_counts()
print(rozkład_total_charges)

customerID             0
gender                 0
SeniorCitizen       5901
Partner                0
Dependents             0
tenure                11
PhoneService           0
MultipleLines          0
InternetService        0
OnlineSecurity         0
OnlineBackup           0
DeviceProtection       0
TechSupport            0
StreamingTV            0
StreamingMovies        0
Contract               0
PaperlessBilling       0
PaymentMethod          0
MonthlyCharges         0
TotalCharges           0
Churn                  0
dtype: int64

TotalCharges
1397.475    11
20.200      11
19.750       9
20.050       8
19.900       8
            ..
6849.400     1
692.350      1
130.150      1
3211.900     1
6844.500     1
Name: count, Length: 6531, dtype: int64

## Zadanie 14

Zamień typ kolumn z listy categorical na typ category oraz kolumny z listy numerical na typ float.

W odpowiedzi wydrukuj informacje o obiekcie df do konsoli.

In [6]:
categorical = [
    'gender',
    'SeniorCitizen',
    'Partner',
    'Dependents',
    'PhoneService',
    'MultipleLines',
    'InternetService',
    'OnlineSecurity',
    'OnlineBackup',
    'DeviceProtection',
    'TechSupport',
    'StreamingTV',
    'Contract',
    'StreamingMovies',
    'PaperlessBilling',
    'PaymentMethod',
    'Churn',
]

In [7]:
numerical = ['tenure', 'MonthlyCharges']

### Miejsce na rozwiązanie

In [8]:

df[categorical] = df[categorical].astype('category')

df[numerical] = df[numerical].astype(float)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   category
 2   SeniorCitizen     7043 non-null   category
 3   Partner           7043 non-null   category
 4   Dependents        7043 non-null   category
 5   tenure            7043 non-null   float64
 6   PhoneService      7043 non-null   category
 7   MultipleLines     7043 non-null   category
 8   InternetService   7043 non-null   category
 9   OnlineSecurity    7043 non-null   category
 10  OnlineBackup      7043 non-null   category
 11  DeviceProtection  7043 non-null   category
 12  TechSupport       7043 non-null   category
 13  StreamingTV       7043 non-null   category
 14  StreamingMovies   7043 non-null   category
 15  Contract          7043 non-null   category
 16  PaperlessBilling  7043 non-null   category
 17  PaymentMethod     7043 non-null   category
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   category
dtypes: category(17), float64(3), object(1)
memory usage: 339.4+ KB
None

## Zadanie 15

Wyświetl podstawowe statystyki zmiennych kategorialnych przekazując odpowiedni parametr include metody `pd.DataFrame.describe()`. Wydrukuj wynik do konsoli.

### Miejsce na rozwiązanie

In [9]:
print(df.describe(include='all'))

        customerID gender  SeniorCitizen Partner Dependents       tenure
count         7043   7043         7043.0    7043       7043  7043.000000  \
unique        7043      2            2.0       2          2          NaN
top     7590-VHVEG   Male            0.0      No         No          NaN
freq             1   3555         5901.0    3641       4933          NaN
mean           NaN    NaN            NaN     NaN        NaN    32.371149
std            NaN    NaN            NaN     NaN        NaN    24.559481
min            NaN    NaN            NaN     NaN        NaN     0.000000
25%            NaN    NaN            NaN     NaN        NaN     9.000000
50%            NaN    NaN            NaN     NaN        NaN    29.000000
75%            NaN    NaN            NaN     NaN        NaN    55.000000
max            NaN    NaN            NaN     NaN        NaN    72.000000

       PhoneService MultipleLines InternetService OnlineSecurity  ...
count          7043          7043            7043           7043  ...  \
unique            2             3               3              3  ...
top             Yes            No     Fiber optic             No  ...
freq           6361          3390            3096           3498  ...
mean            NaN           NaN             NaN            NaN  ...
std             NaN           NaN             NaN            NaN  ...
min             NaN           NaN             NaN            NaN  ...
25%             NaN           NaN             NaN            NaN  ...
50%             NaN           NaN             NaN            NaN  ...
75%             NaN           NaN             NaN            NaN  ...
max             NaN           NaN             NaN            NaN  ...

       DeviceProtection TechSupport StreamingTV StreamingMovies
count              7043        7043        7043            7043  \
unique                3           3           3               3
top                  No          No          No              No
freq               3095        3473        2810            2785
mean                NaN         NaN         NaN             NaN
std                 NaN         NaN         NaN             NaN
min                 NaN         NaN         NaN             NaN
25%                 NaN         NaN         NaN             NaN
50%                 NaN         NaN         NaN             NaN
75%                 NaN         NaN         NaN             NaN
max                 NaN         NaN         NaN             NaN

              Contract PaperlessBilling     PaymentMethod MonthlyCharges
count             7043             7043              7043    7043.000000  \
unique               3                2                 4            NaN
top     Month-to-month              Yes  Electronic check            NaN
freq              3875             4171              2365            NaN
mean               NaN              NaN               NaN      64.761692
std                NaN              NaN               NaN      30.090047
min                NaN              NaN               NaN      18.250000
25%                NaN              NaN               NaN      35.500000
50%                NaN              NaN               NaN      70.350000
75%                NaN              NaN               NaN      89.850000
max                NaN              NaN               NaN     118.750000

        TotalCharges  Churn
count    7043.000000   7043
unique           NaN      2
top              NaN     No
freq             NaN   5174
mean     2281.916928    NaN
std      2265.270398    NaN
min        18.800000    NaN
25%       402.225000    NaN
50%      1397.475000    NaN
75%      3786.600000    NaN
max      8684.800000    NaN

[11 rows x 21 columns]

## Zadanie 16

Znajdź rozkład wartości dla zmiennej Churn. Wydrukuj wynik do konsoli.

### Miejsce na rozwiązanie

In [10]:
rozkład_churn = df['Churn'].value_counts()
print(rozkład_churn)

Churn
No     5174
Yes    1869
Name: count, dtype: int64

## Zadanie 17

Pogrupuj dane na poziomie zmiennych `Churn` oraz `PaymentMethod` i oblicz średnią wartość zmiennej `MonthlyCharges`. Wydrukuj wynik do konsoli.

### Miejsce na rozwiązanie

In [11]:
grupowane_dane = df.groupby(['Churn', 'PaymentMethod'])

srednia_monthly_charges = grupowane_dane['MonthlyCharges'].mean()

print(srednia_monthly_charges)

Churn  PaymentMethod
No     Bank transfer (automatic)    65.049417
       Credit card (automatic)      64.562209
       Electronic check             74.232032
       Mailed check                 41.403911
Yes    Bank transfer (automatic)    77.875581
       Credit card (automatic)      77.356034
       Electronic check             78.700980
       Mailed check                 54.557143
Name: MonthlyCharges, dtype: float64

## Zadanie 18

Zmapuj odpowiednio kolumnę Churn:
 - `Yes` -> 1
 - `No` -> 0
 Wynik wydrukuj w konsoli dla pierwszych 5 wierszy.

### Miejsce na rozwiązanie

In [12]:
mapowanie_churn = {'Yes': 1, 'No': 0}
df['Churn'] = df['Churn'].map(mapowanie_churn)
print(df['Churn'].head())

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: category
Categories (2, int64): [0, 1]

## Zadanie 19

Oblicz macierz korelacji dla obiektu df. Wydrukuj wynik do konsoli.

### Miejsce na rozwiązanie

In [14]:
df_numeryczne = df.select_dtypes(include='number')
macierz_korelacji = df_numeryczne.corr()
print(macierz_korelacji)

                  tenure  MonthlyCharges  TotalCharges
tenure          1.000000        0.247900      0.825464
MonthlyCharges  0.247900        1.000000      0.650864
TotalCharges    0.825464        0.650864      1.000000

## Zadanie 20

Pobierz próbkę 10 wierszy z obiektu df i zapisz do pliku `sample_10.csv`.

### Miejsce na rozwiązanie

In [122]:
probka = df.sample(10)

probka.to_csv('sample_10.csv')

print("Plik 'sample_10.csv' został zapisany.")

Plik 'sample_10.csv' został zapisany.

Wnioski:
Biblioteka pandas w języku Python jest niezwykle użytecznym narzędziem do manipulacji i analizy danych. 
Na tych zajęciach poznałem łatwe do zrozumienia funkcionalności, takim jak wybieranie, filtrowanie i grupowanie, co ułatwia pracę z danymi.
Pandas umożliwia również efektywne przetwarzanie brakujących danych oraz szybkie wczytywanie i zapisywanie danych w różnych formatach,
co jest szczególnie przydatne przy przygotowaniu danych dla uczenia meszynowego, lub ich persystancji.