Cezary Tytko 118873

In [2]:
import pandas as pd
import numpy as np

# Zadania do samodzielnego wykonania

## Ćwiczenie 1

Podane są dwa obiekty typu Series:
Połącz te dwa obiekty w jeden obiekt DataFrame (jako dwie kolumny) i przypisz do zmiennej df.
Nazwij kolumny odpowiednio col1 oraz col2. Wydrukuj wynik do konsoli.

In [3]:
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.DataFrame({'col1': s1, 'col2': s2})

print(df)

        col1      col2
0   0.374540 -1.012831
1   0.950714  0.314247
2   0.731994 -0.908024
3   0.598658 -1.412304
4   0.156019  1.465649
5   0.155995 -0.225776
6   0.058084  0.067528
7   0.866176 -1.424748
8   0.601115 -0.544383
9   0.708073  0.110923
10  0.020584 -1.150994
11  0.969910  0.375698
12  0.832443 -0.600639
13  0.212339 -0.291694
14  0.181825 -0.601707
15  0.183405  1.852278
16  0.304242 -0.013497
17  0.524756 -1.057711
18  0.431945  0.822545
19  0.291229 -1.220844

## Ćwiczenie 2

Wyodrębnij wiersze z obiektu df (z zadania 1), dla którego wartość w kolumnie col2 zawiera się
między 0.0 a 1.0 (włącznie). Wydrukuj wynik do konsoli.

In [4]:
filtered_df = df[(df['col2'] >= 0.0) & (df['col2'] <= 1.0)]

print(filtered_df)

        col1      col2
1   0.950714  0.314247
6   0.058084  0.067528
9   0.708073  0.110923
11  0.969910  0.375698
18  0.431945  0.822545

## Ćwiczenie 3

Przypisz nową kolumnę o nazwie col3, która będzie miała wartość 1, gdy wartość w kolumnie col2
jest nieujemna i -1 przeciwnie. Wydrukuj wynik do konsoli.

In [5]:
df['col3'] = np.where(df['col2'] >= 0, 1, -1)

print(df)

        col1      col2  col3
0   0.374540 -1.012831    -1
1   0.950714  0.314247     1
2   0.731994 -0.908024    -1
3   0.598658 -1.412304    -1
4   0.156019  1.465649     1
5   0.155995 -0.225776    -1
6   0.058084  0.067528     1
7   0.866176 -1.424748    -1
8   0.601115 -0.544383    -1
9   0.708073  0.110923     1
10  0.020584 -1.150994    -1
11  0.969910  0.375698     1
12  0.832443 -0.600639    -1
13  0.212339 -0.291694    -1
14  0.181825 -0.601707    -1
15  0.183405  1.852278     1
16  0.304242 -0.013497    -1
17  0.524756 -1.057711    -1
18  0.431945  0.822545     1
19  0.291229 -1.220844    -1

## Ćwiczenie 4

Przypisz nową kolumnę col4, która obetnie wartości z kolumny col2 do zakresu [−1.0,1.0].

In [6]:
df['col4'] = df['col2'].clip(lower=-1.0, upper=1.0)

print(df)

        col1      col2  col3      col4
0   0.374540 -1.012831    -1 -1.000000
1   0.950714  0.314247     1  0.314247
2   0.731994 -0.908024    -1 -0.908024
3   0.598658 -1.412304    -1 -1.000000
4   0.156019  1.465649     1  1.000000
5   0.155995 -0.225776    -1 -0.225776
6   0.058084  0.067528     1  0.067528
7   0.866176 -1.424748    -1 -1.000000
8   0.601115 -0.544383    -1 -0.544383
9   0.708073  0.110923     1  0.110923
10  0.020584 -1.150994    -1 -1.000000
11  0.969910  0.375698     1  0.375698
12  0.832443 -0.600639    -1 -0.600639
13  0.212339 -0.291694    -1 -0.291694
14  0.181825 -0.601707    -1 -0.601707
15  0.183405  1.852278     1  1.000000
16  0.304242 -0.013497    -1 -0.013497
17  0.524756 -1.057711    -1 -1.000000
18  0.431945  0.822545     1  0.822545
19  0.291229 -1.220844    -1 -1.000000

## Ćwiczenie 5

Wykonaj poniższe polecenia: - wydrukuj do konsoli 5 najwyższych wartości w kolumnie col2 -
wydrukuj do konsoli pustą linię - wydrukuj do konsoli 5 najniższych wartości w kolumnie col2

In [7]:
top_values = df.nlargest(5, 'col2')['col2']
print("5 najwyższych wartości w kolumnie col2:")
print(top_values)

print()

bottom_values = df.nsmallest(5, 'col2')['col2']
print("5 najniższych wartości w kolumnie col2:")
print(bottom_values)

5 najwyższych wartości w kolumnie col2:
15    1.852278
4     1.465649
18    0.822545
11    0.375698
1     0.314247
Name: col2, dtype: float64

5 najniższych wartości w kolumnie col2:
7    -1.424748
3    -1.412304
19   -1.220844
10   -1.150994
17   -1.057711
Name: col2, dtype: float64

## Ćwiczenie 6

Oblicz skumulowaną sumę dla każdej kolumny. Wydrukuj wynik do konsoli. Wskazówka: Użyj
metody pd.DataFrame.cumsum().

In [8]:
cumulative_sum_df = df.cumsum()

print("Skumulowana suma dla każdej kolumny:")
print(cumulative_sum_df)

Skumulowana suma dla każdej kolumny:
        col1      col2  col3      col4
0   0.374540 -1.012831    -1 -1.000000
1   1.325254 -0.698584     0 -0.685753
2   2.057248 -1.606608    -1 -1.593777
3   2.655907 -3.018912    -2 -2.593777
4   2.811925 -1.553263    -1 -1.593777
5   2.967920 -1.779039    -2 -1.819553
6   3.026004 -1.711511    -1 -1.752025
7   3.892180 -3.136259    -2 -2.752025
8   4.493295 -3.680642    -3 -3.296408
9   5.201367 -3.569719    -2 -3.185485
10  5.221952 -4.720713    -3 -4.185485
11  6.191862 -4.345015    -2 -3.809787
12  7.024304 -4.945653    -3 -4.410426
13  7.236643 -5.237347    -4 -4.702119
14  7.418468 -5.839054    -5 -5.303826
15  7.601873 -3.986776    -4 -4.303826
16  7.906115 -4.000273    -5 -4.317323
17  8.430872 -5.057984    -6 -5.317323
18  8.862817 -4.235439    -5 -4.494778
19  9.154046 -5.456283    -6 -5.494778

## Ćwiczenie 7

Oblicz medianę dla zmiennej col2. Wydrukuj wynik do konsoli.

### Miejsce na rozwiązanie

In [9]:
median_col2 = df['col2'].median()

print("Mediana dla zmiennej col2:", median_col2)

Mediana dla zmiennej col2: -0.4180382371592297

## Ćwiczenie 8

Wyodrębnij wiersze, dla których zmienna col2 przyjmuje wartości większe niż 0.0. Wydrukuj wynik
do konsoli.

In [10]:
filtered_rows = df[df['col2'] > 0.0]

print("Wiersze, dla których col2 > 0.0:")
print(filtered_rows)

Wiersze, dla których col2 > 0.0:
        col1      col2  col3      col4
1   0.950714  0.314247     1  0.314247
4   0.156019  1.465649     1  1.000000
6   0.058084  0.067528     1  0.067528
9   0.708073  0.110923     1  0.110923
11  0.969910  0.375698     1  0.375698
15  0.183405  1.852278     1  1.000000
18  0.431945  0.822545     1  0.822545

## Ćwiczenie 9

Wyodrębnij pierwsze 5 wierszy obiektu df i przekonwertuj go na słownik. Wydrukuj wynik do
konsoli.

In [11]:
first_5_rows = df.head(5)

dictionary_result = first_5_rows.to_dict(orient='records')

print("Pierwsze 5 wierszy przekonwertowane na słownik:")
print(dictionary_result)

Pierwsze 5 wierszy przekonwertowane na słownik:
[{'col1': 0.3745401188473625, 'col2': -1.0128311203344238, 'col3': -1, 'col4': -1.0}, {'col1': 0.9507143064099162, 'col2': 0.3142473325952739, 'col3': 1, 'col4': 0.3142473325952739}, {'col1': 0.7319939418114051, 'col2': -0.9080240755212109, 'col3': -1, 'col4': -0.9080240755212109}, {'col1': 0.5986584841970366, 'col2': -1.4123037013352915, 'col3': -1, 'col4': -1.0}, {'col1': 0.15601864044243652, 'col2': 1.465648768921554, 'col3': 1, 'col4': 1.0}]

## Ćwiczenie 10

Wyodrębnij pierwsze 5 wierszy obiektu df, przekonwertuj go na format HTML (jako obiekt typu
str) i przypisz do zmiennej df_html. Wydrukuj zawartość zmiennej df_html do konsoli.

### Miejsce na rozwiązanie

In [12]:
first_5_rows = df.head(5)
df_html = first_5_rows.to_html()

print("Zawartość df_html:")
print(df_html)

Zawartość df_html:
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
      <th>col3</th>
      <th>col4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.374540</td>
      <td>-1.012831</td>
      <td>-1</td>
      <td>-1.000000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.950714</td>
      <td>0.314247</td>
      <td>1</td>
      <td>0.314247</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.731994</td>
      <td>-0.908024</td>
      <td>-1</td>
      <td>-0.908024</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.598658</td>
      <td>-1.412304</td>
      <td>-1</td>
      <td>-1.000000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.156019</td>
      <td>1.465649</td>
      <td>1</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>

## Ćwiczenie 11

Podany jest następujący obiekt DataFrame:
Wyodrębnij wiersze obiektu df dla których kolumna C jest większa niż 0.8. Wydrukuj wynik do
konsoli.

In [28]:
np.random.seed()
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))


filtered_rows = df[df['C'] > 0.8]

print("Wiersze, dla których kolumna C > 0.8:")
print(filtered_rows)

Wiersze, dla których kolumna C > 0.8:
          A         B         C         D
1  0.920859  0.434986  0.948434  0.342789
4  0.793504  0.536250  0.844549  0.704617
7  0.431928  0.608478  0.901527  0.333790

## Ćwiczenie 12

Wyodrębnij wiersze obiektu df dla których kolumna C jest większa niż 0.3, a kolumna D jest
mniejsza niż 0.7. Wydrukuj wynik do konsoli.

In [29]:
np.random.seed()

df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))

filtered_rows = df[(df['C'] > 0.3) & (df['D'] < 0.7)]

print("Wiersze, dla których kolumna C > 0.3 i kolumna D < 0.7:")
print(filtered_rows)

Wiersze, dla których kolumna C > 0.3 i kolumna D < 0.7:
          A         B         C         D
0  0.425295  0.113193  0.435425  0.048386
1  0.705370  0.311270  0.688621  0.006962
3  0.732196  0.379042  0.656924  0.465132
4  0.121597  0.546113  0.795811  0.468136
5  0.360504  0.005637  0.450458  0.320998
9  0.510913  0.012508  0.527338  0.551133

## Ćwiczenie 13

Dokonaj iteracji przez pierwsze pięć wierszy obiektu df. Wydrukuj każdy wiersz do konsoli.

In [32]:
np.random.seed()

df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))

for index, row in df.head(5).iterrows():
    print("Wiersz", index, ":\n",row)

Wiersz 0 :
 A    0.435902
B    0.986509
C    0.251827
D    0.855315
Name: 0, dtype: float64
Wiersz 1 :
 A    0.274530
B    0.026987
C    0.317833
D    0.457674
Name: 1, dtype: float64
Wiersz 2 :
 A    0.779984
B    0.818360
C    0.239428
D    0.811645
Name: 2, dtype: float64
Wiersz 3 :
 A    0.428265
B    0.622864
C    0.657819
D    0.028731
Name: 3, dtype: float64
Wiersz 4 :
 A    0.582557
B    0.188290
C    0.376401
D    0.307482
Name: 4, dtype: float64

## Ćwiczenie 14

Ustaw wartość w wierszu z indeksem 3 dla kolumny B jako np.nan (użyj df.iloc) oraz ustaw
wartość w wierszu o indeksie 8 dla kolumny D jako np.nan (użyj df.loc). Przypisz wartości do
zmiennej df.
Wydrukuj obiekt df do konsoli.

In [33]:
np.random.seed()

df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))

df.iloc[3, df.columns.get_loc('B')] = np.nan

df.loc[8, 'D'] = np.nan

print("DataFrame po ustawieniu wartości na np.nan:")
print(df)

DataFrame po ustawieniu wartości na np.nan:
          A         B         C         D
0  0.897004  0.017612  0.830017  0.070405
1  0.357559  0.070290  0.764763  0.408174
2  0.978706  0.773361  0.553667  0.250834
3  0.897874       NaN  0.937661  0.820106
4  0.185747  0.282775  0.073980  0.176220
5  0.102219  0.764520  0.896854  0.566713
6  0.455889  0.195971  0.902201  0.215211
7  0.980352  0.205372  0.619401  0.448225
8  0.329656  0.141329  0.269597       NaN
9  0.600080  0.557137  0.132595  0.905144

## Ćwiczenie 15

Usuń wszystkie wiersze z obiektu df zawierające brakujące wartości i pozostałą część obiektu przypisz do zmiennej df1. Wydrukuj zmienną df1 do konsoli.

In [34]:
df1 = df.dropna()

print("DataFrame po usunięciu wierszy z brakującymi wartościami:")
print(df1)

DataFrame po usunięciu wierszy z brakującymi wartościami:
          A         B         C         D
0  0.897004  0.017612  0.830017  0.070405
1  0.357559  0.070290  0.764763  0.408174
2  0.978706  0.773361  0.553667  0.250834
4  0.185747  0.282775  0.073980  0.176220
5  0.102219  0.764520  0.896854  0.566713
6  0.455889  0.195971  0.902201  0.215211
7  0.980352  0.205372  0.619401  0.448225
9  0.600080  0.557137  0.132595  0.905144

## Ćwiczenie 16

Indeks po usunięciu dwóch wierszy w obiekcie df1 nie jest po kolei. Zresetuj indeks (nie dodawaj
nowej kolumny). Wyświetl wartość zmiennej df1 do konsoli.

In [35]:
df1.reset_index(drop=True, inplace=True)

print("DataFrame df1 po zresetowaniu indeksu:")
print(df1)

DataFrame df1 po zresetowaniu indeksu:
          A         B         C         D
0  0.897004  0.017612  0.830017  0.070405
1  0.357559  0.070290  0.764763  0.408174
2  0.978706  0.773361  0.553667  0.250834
3  0.185747  0.282775  0.073980  0.176220
4  0.102219  0.764520  0.896854  0.566713
5  0.455889  0.195971  0.902201  0.215211
6  0.980352  0.205372  0.619401  0.448225
7  0.600080  0.557137  0.132595  0.905144

## Ćwiczenie 17

Określ liczbę brakujących elementów w obiekcie df dla każdej kolumny. Wydrukuj wynik do konsoli.

In [36]:
missing_values_per_column = df.isnull().sum()

print("Liczba brakujących elementów dla każdej kolumny:")
print(missing_values_per_column)

Liczba brakujących elementów dla każdej kolumny:
A    0
B    1
C    0
D    1
dtype: int64

## Ćwiczenie 18

Uzupełnij brakujące wartości wartością 0 i wynik przypisz do zmiennej df. Wydrukuj zawartość
zmiennej df do konsoli.

In [37]:
df.fillna(0, inplace=True)

print("DataFrame df po uzupełnieniu brakujących wartości:")
print(df)

DataFrame df po uzupełnieniu brakujących wartości:
          A         B         C         D
0  0.897004  0.017612  0.830017  0.070405
1  0.357559  0.070290  0.764763  0.408174
2  0.978706  0.773361  0.553667  0.250834
3  0.897874  0.000000  0.937661  0.820106
4  0.185747  0.282775  0.073980  0.176220
5  0.102219  0.764520  0.896854  0.566713
6  0.455889  0.195971  0.902201  0.215211
7  0.980352  0.205372  0.619401  0.448225
8  0.329656  0.141329  0.269597  0.000000
9  0.600080  0.557137  0.132595  0.905144

## Ćwiczenie 19

Zamień kolejność kolumn w obiekcie df na podaną poniżej: - D, A, B, C
i przypisz do zmiennej df. Wydrukuj zawartość zmiennej df do konsoli.

In [38]:
df = df[['D', 'A', 'B', 'C']]

print("DataFrame df po zmianie kolejności kolumn:")
print(df)

DataFrame df po zmianie kolejności kolumn:
          D         A         B         C
0  0.070405  0.897004  0.017612  0.830017
1  0.408174  0.357559  0.070290  0.764763
2  0.250834  0.978706  0.773361  0.553667
3  0.820106  0.897874  0.000000  0.937661
4  0.176220  0.185747  0.282775  0.073980
5  0.566713  0.102219  0.764520  0.896854
6  0.215211  0.455889  0.195971  0.902201
7  0.448225  0.980352  0.205372  0.619401
8  0.000000  0.329656  0.141329  0.269597
9  0.905144  0.600080  0.557137  0.132595

## Ćwiczenie 20

Usuń kolumnę D z obiektu df. Wydrukuj obiekt df do konsoli.

In [39]:
df.drop('D', axis=1, inplace=True)

print("DataFrame df po usunięciu kolumny 'D':")
print(df)

DataFrame df po usunięciu kolumny 'D':
          A         B         C
0  0.897004  0.017612  0.830017
1  0.357559  0.070290  0.764763
2  0.978706  0.773361  0.553667
3  0.897874  0.000000  0.937661
4  0.185747  0.282775  0.073980
5  0.102219  0.764520  0.896854
6  0.455889  0.195971  0.902201
7  0.980352  0.205372  0.619401
8  0.329656  0.141329  0.269597
9  0.600080  0.557137  0.132595

Wnioski: Filtrowanie danych w dataset jest bardzo ważną i często używaną funkcją, pandas bardzo dobrze sobie z tym radzi przy czym ma moim zdaniem prosta i czytelną składnie filtrowania, jedynie dla niektórych poleceń należy pamiętać o wskazaniu odpowiedniej osi "axis="