In [16]:
import pandas as pd
import numpy as np

# Wprowadzenie do tematu

## Przykład 1 - Tworzenie obiektu Series

Z listy poniżej:

In [2]:
stocks = ['PLW', 'CDR', '11B', 'TEN']

utwórz obiekt typu Series. Wynik wydrukuj do konsoli.

### Rozwiązanie

In [3]:
stocks = ['PLW', 'CDR', '11B', 'TEN']
print(pd.Series(data=stocks))

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

## Przykład 2 - Tworzenie obiektu DataFrame z obiektu Series

Przekształć obiekt quotations:

In [4]:
stocks = {
    'PLW': 387.00,
    'CDR': 339.5,
    'TEN': 349.5,
    '11B': 391.0,
    'BBT': 25.5,
    'F51': 19.2,
}
quotations = pd.Series(data=stocks)

do obiektu DataFrame. Zresetuj indeks i nazwij kolumny `ticker` oraz `price`. Wydrukuj obiekt DataFrame do konsoli.

### Rozwiązanie

In [5]:
stocks = {
    'PLW': 387.00,
    'CDR': 339.5,
    'TEN': 349.5,
    '11B': 391.0,
    'BBT': 25.5,
    'F51': 19.2,
}
quotations = pd.Series(data=stocks)
quotations = pd.DataFrame(quotations).reset_index()
quotations.columns = ['ticker', 'price']
print(quotations)

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2

## Przykład 3 - Tworzenie obiektu DataFrame i wypełnianie go danymi

Zbuduj obiekt DatetimeIndex zawierający daty w formacie `yyyy-mm-dd` dla wszystkich dni dla listopada 2023 roku i przypisz go do zmiennej date_range. Wydrukuj zawartość tej zmiennej do konsoli.

### Rozwiązanie - wariant 1

In [ ]:
date_range = pd.date_range(start='2023-11-01', periods=30)
print(date_range)

### Rozwiązanie - wariant 2

In [ ]:
date_range = pd.date_range(start='2023-11-01', end='2023-11-30')
print(date_range)

# Zadania do samodzielnego wykonania

## Ćwiczenie 1

Z podanego słownika:

In [6]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

utwórz obiekt typu Series i przypisz do zmiennej quotations. Zawartość zmiennej quotations wydrukuj do konsoli.

### Miejsce na rozwiązanie

In [8]:
quotations = pd.Series(data=stocks)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

## Ćwiczenie 2

Podana jest zmienna quotations (obiekt typu Series):

In [ ]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

Przekształć obiekt quotations na listę. Wynik wydrukuj do konsoli.

### Miejsce na rozwiązanie

In [9]:
print(quotations.to_list())

[387.0, 339.5, 349.5, 391.0]

## Ćwiczenie 3

Przekształć obiekt quotations na obiekt typu DataFrame. Ustaw nazwę kolumny na price.

In [11]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

Wydrukuj wynik do konsoli.

### Miejsce na rozwiązanie

In [15]:
quotations = pd.DataFrame(data = quotations, columns=['ticker', 'price'])
print(quotations)

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0

## Ćwiczenie 4

Używając bibliotek numpy i pandas zbuduj następujący obiekt Series:
    101    10.0
    102    20.0
    103    30.0
    104    40.0
    105    50.0
    106    60.0
    107    70.0
    108    80.0
    109    90.0
    dtype: float64

Wydrukuj wynik do konsoli.
Wskazówka: Użyj funkcji `np.arange()`.
### Miejsce na rozwiązanie

In [61]:
data = np.arange(10., 91., 10., dtype=float)
index = np.arange(101, 110, dtype=int)
quotations = pd.Series(data=data,index=index)
print(quotations)

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

## Ćwiczenie 5

Podany jest następujący obiekt typu Series:

In [19]:
series = pd.Series(['001', '002', '003', '004'], list('abcd'))

Zmień typ danych obiektu na int. Wydrukuj wynik do konsoli.

### Miejsce na rozwiązanie

In [23]:
series = series.astype('float64')
print(series)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

## Ćwiczenie 6

Podany jest następujący obiekt quotations:

In [63]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

Dodaj do niego dwa elementy:
- klucz: BBT, wartość: 25.5
- klucz: F51, wartość: 19.2

Wydrukuj zawartość zmiennej quotations do konsoli.

### Miejsce na rozwiązanie

In [64]:
quotations['BBT'] =25.5
quotations['F51']=19.2
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

## Ćwiczenie 7

Zbuduj poniższy obiekt DataFrame i przypisz go do zmiennej companies:
<img src="img/1.png">
    
Wydrukuj obiekt do konsoli.

### Miejsce na rozwiązanie

In [38]:
companies = pd.DataFrame(np.array([['Amazon', 'Microsoft', 'Facebook'], [2375.0, 178.6, 179.2], ['AMZU.US', 'MSFT.US', 'FB.US']]).T ,columns=['company', 'price', 'ticker'])
print(companies)

     company   price   ticker
0     Amazon  2375.0  AMZU.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

## Ćwiczenie 8

Przekształć pierwszą kolumnę obiektu companies na indeks. Wydrukuj obiekt do konsoli.

In [80]:
data_dict = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375.00, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}

companies = pd.DataFrame(data=data_dict)

### Miejsce na rozwiązanie

In [82]:
companies = companies.set_index('company')
print(companies)

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US
Facebook    179.2    FB.US

## Ćwiczenie 9

Zbuduj obiekt DatetimeIndex zawierający daty w formacie `yyyy-mm-dd` dla wszystkich dni dla stycznia 2020 roku i przypisz go do zmiennej date_range. Wydrukuj zawartość tej zmiennej do konsoli.

### Miejsce na rozwiązanie

In [44]:
# from datetime import date
# today = date.today()
date_range = pd.date_range(start='2020-01-01', end='2020-01-31')
print(date_range)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='D')

## Ćwiczenie 10

Zbuduj obiekt DatetimeIndex zawierający daty w formacie `yyyy-mm-dd` dla wszystkich poniedziałków z 2020 r. i przypisz go do zmiennej date_range. Wydrukuj zawartość tej zmiennej do konsoli.

### Miejsce na rozwiązanie

In [45]:
date_range = pd.date_range(start='2020-01-01', end='2020-01-31',freq="W-MON")
print(date_range)

DatetimeIndex(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27'], dtype='datetime64[ns]', freq='W-MON')

## Ćwiczenie 11

Zbuduj obiekt DatetimeIndex zawierający daty w formacie `yyyy-mm-dd hh: mm: ss` dla 1 stycznia 2021 roku z interwałem czasowym 1h i przypisz do zmiennej date_range. Wydrukuj zawartość tej zmiennej do konsoli.

### Miejsce na rozwiązanie

In [52]:
date_range = pd.date_range(start='2021-01-01 00:00:00', end='2021-01-01 23:59:59',freq="H")
print(date_range)

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00', '2021-01-01 19:00:00',
               '2021-01-01 20:00:00', '2021-01-01 21:00:00',
               '2021-01-01 22:00:00', '2021-01-01 23:00:00'],
              dtype='datetime64[ns]', freq='H')

## Ćwiczenie 12

Zbuduj obiekt DataFrame określony poniżej i wydrukuj do konsoli.
  -  Kolumna day ma zawierać daty od 1 marca 2023 roku do o 31 marca 2023 roku włącznie. 
  - Kolumna day_of_year to numer dnia w całym roku

### Miejsce na rozwiązanie

In [55]:
day = pd.date_range(start='2023-03-01', end='2023-03-31',freq="D")
day_of_year = day.day_of_year
dataFrame = pd.DataFrame({'day':day,'day_of_year':day_of_year})
print(dataFrame)

          day  day_of_year
0  2023-03-01           60
1  2023-03-02           61
2  2023-03-03           62
3  2023-03-04           63
4  2023-03-05           64
5  2023-03-06           65
6  2023-03-07           66
7  2023-03-08           67
8  2023-03-09           68
9  2023-03-10           69
10 2023-03-11           70
11 2023-03-12           71
12 2023-03-13           72
13 2023-03-14           73
14 2023-03-15           74
15 2023-03-16           75
16 2023-03-17           76
17 2023-03-18           77
18 2023-03-19           78
19 2023-03-20           79
20 2023-03-21           80
21 2023-03-22           81
22 2023-03-23           82
23 2023-03-24           83
24 2023-03-25           84
25 2023-03-26           85
26 2023-03-27           86
27 2023-03-28           87
28 2023-03-29           88
29 2023-03-30           89
30 2023-03-31           90

## Ćwiczenie 13

Podany jest następujący słownik data_dict:

In [56]:
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

Zbuduj obiekt DateFrame z tego słownika. Dodatkowo jako indeks dodaj datę od 01.01.2023. Obiekt przypisz do zmiennej df. Wydrukuj zawartość zmiennej df do konsoli.

### Miejsce na rozwiązanie

In [68]:
df = pd.DataFrame(data_dict)
day = pd.date_range(start='2023-01-01', periods=1000,freq="D")
print(day)
df.index = day
print(df)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2025-09-17', '2025-09-18', '2025-09-19', '2025-09-20',
               '2025-09-21', '2025-09-22', '2025-09-23', '2025-09-24',
               '2025-09-25', '2025-09-26'],
              dtype='datetime64[ns]', length=1000, freq='D')
              normal   uniform  binomial
2023-01-01  0.003435  0.605525         0
2023-01-02 -2.469926  0.276617         0
2023-01-03 -0.078219  0.039728         0
2023-01-04  0.210007  0.262052         0
2023-01-05 -0.329299  0.154151         0
...              ...       ...       ...
2025-09-22  0.963499  0.056656         0
2025-09-23 -1.534106  0.194315         1
2025-09-24 -1.516038  0.574210         1
2025-09-25  2.522327  0.110657         0
2025-09-26 -1.476837  0.935417         0

[1000 rows x 3 columns]

## Ćwiczenie 14

Podany jest obiekt df. Wykonaj poniższe polecenia:
- wydrukuj pierwsze 10 wierszy tego obiektu,
- wydrukuj pustą linię,
- wydrukuj ostatnie 5 wierszy tego obiektu.

In [ ]:
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2024-01-01', periods=1000))

### Miejsce na rozwiązanie

In [83]:
print(df.head(10))
print()
print(df.tail(5))

              normal   uniform  binomial
2023-01-01  0.003435  0.605525         0
2023-01-02 -2.469926  0.276617         0
2023-01-03 -0.078219  0.039728         0
2023-01-04  0.210007  0.262052         0
2023-01-05 -0.329299  0.154151         0
2023-01-06  1.051329  0.033853         0
2023-01-07  0.139328  0.356903         0
2023-01-08 -0.288102  0.589430         0
2023-01-09  0.649762  0.956088         0
2023-01-10 -0.631742  0.609382         0

              normal   uniform  binomial
2025-09-22  0.963499  0.056656         0
2025-09-23 -1.534106  0.194315         1
2025-09-24 -1.516038  0.574210         1
2025-09-25  2.522327  0.110657         0
2025-09-26 -1.476837  0.935417         0

## Ćwiczenie 15

Wyświetl podstawowe informacje o obiekcie df (liczba wierszy, liczba kolumn, typ zmiennych) wykorzystując metodę `pd.DataFrame.info()`, następnie wydrukuj pustą linię i wydrukuj podstawowe statystyki obiektu df (wartość średnia, odchylenie, min, max, mediana) za pomocą metody `pd.DataFrame.describe()`.

In [84]:
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2023-01-01', periods=1000))

### Miejsce na rozwiązanie

In [85]:
print(df.info())
print()
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000 entries, 2023-01-01 to 2025-09-26
Freq: D
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   normal    1000 non-null   float64
 1   uniform   1000 non-null   float64
 2   binomial  1000 non-null   int32
dtypes: float64(2), int32(1)
memory usage: 27.3 KB
None

            normal      uniform     binomial
count  1000.000000  1000.000000  1000.000000
mean     -0.023490     0.496771     0.203000
std       0.992543     0.288250     0.402434
min      -2.968528     0.000014     0.000000
25%      -0.736432     0.258528     0.000000
50%       0.003725     0.484261     0.000000
75%       0.671296     0.756987     0.000000
max       2.771975     0.999673     1.000000

## Ćwiczenie 16

Znajdź rozkład wartości zmiennej binomial z obiektu DataFrame podanego poniżej. Wydrukuj wynik do konsoli.
Wskazówka: Użyj `pd.Series.value_counts()`.

In [86]:
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2023-01-01', periods=1000))

### Miejsce na rozwiązanie

In [95]:
print(df['binomial'].value_counts())

binomial
0    808
1    192
Name: count, dtype: int64

## Ćwiczenie 17

Wyodrębnij pierwsze 50 rekordów z obiektu df i zapisz do pliku o nazwie `dataframe50.csv`.

In [90]:
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2023-01-01', periods=1000))

### Miejsce na rozwiązanie

In [91]:
df.head(50).to_csv('dataframe50.csv')

## Ćwiczenie 18

Załaduj plik `dataframe50.csv` do zmiennej df_new (pamiętaj o prawidłowym załadowaniu indeksu) i wydrukuj zmienną df_new do konsoli.

### Miejsce na rozwiązanie

In [93]:
df_new = pd.read_csv('dataframe50.csv',index_col=0)
print(df_new)

              normal   uniform  binomial
2023-01-01  0.499282  0.498496         1
2023-01-02  0.514901  0.494377         0
2023-01-03 -1.179582  0.450662         1
2023-01-04 -1.179798  0.170577         0
2023-01-05 -1.054851  0.990271         0
2023-01-06  1.659428  0.896832         0
2023-01-07  0.352659  0.093809         0
2023-01-08  0.115403  0.742281         0
2023-01-09 -1.946390  0.731325         1
2023-01-10  0.566011  0.055356         1
2023-01-11 -0.130468  0.568000         0
2023-01-12  1.273675  0.741431         0
2023-01-13 -0.147225  0.815267         0
2023-01-14 -2.379452  0.036869         0
2023-01-15  0.304953  0.433874         0
2023-01-16  1.878205  0.987404         0
2023-01-17 -1.583224  0.619467         1
2023-01-18 -0.671581  0.724715         0
2023-01-19 -0.584482  0.387357         0
2023-01-20  0.707444  0.411393         0
2023-01-21 -0.385594  0.307679         1
2023-01-22  1.196348  0.163032         0
2023-01-23 -0.205472  0.945007         0
2023-01-24 -0.385708  0.777814         0
2023-01-25  0.126860  0.532615         1
2023-01-26 -0.889067  0.387617         1
2023-01-27  0.339577  0.570226         0
2023-01-28  0.717994  0.650885         0
2023-01-29 -0.014628  0.845831         0
2023-01-30 -1.976253  0.535351         0
2023-01-31  0.054892  0.175357         1
2023-02-01 -1.861075  0.247884         0
2023-02-02 -1.608617  0.026083         0
2023-02-03  0.260452  0.451000         0
2023-02-04  0.612973  0.447093         0
2023-02-05 -0.149676  0.487633         0
2023-02-06  1.425890  0.930880         0
2023-02-07 -0.549713  0.089356         0
2023-02-08  0.270904  0.487928         0
2023-02-09 -0.014630  0.577240         0
2023-02-10  1.555155  0.714354         0
2023-02-11 -0.182863  0.661000         0
2023-02-12 -0.181680  0.875735         0
2023-02-13  0.802007  0.711425         0
2023-02-14  0.024636  0.519698         0
2023-02-15 -0.857839  0.141018         0
2023-02-16 -1.291335  0.575612         0
2023-02-17  0.163265  0.152085         0
2023-02-18  0.619341  0.942461         1
2023-02-19  0.902727  0.548180         0