Cezary Tytko 118873

In [1]:
import pandas as pd
import numpy as np

# Zadania do samodzielnego wykonania

## Ćwiczenie 1

Stwórz DataFrame z trzema kolumnami: "Nazwisko", "Wiek" i "Ocena". Dodaj do niego co najmniej 5 rekordów.

In [2]:
data = {
    'Nazwisko': ['Kowalski', 'Nowak', 'Wiśniewski', 'Dąbrowski', 'Lewandowski'],
    'Wiek': [30, 28, 26, 33, 22],
    'Ocena': [4.5, 3.2, 5.0, 4.8, 3.9]
}

df = pd.DataFrame(data)
print(df)

      Nazwisko  Wiek  Ocena
0     Kowalski    30    4.5
1        Nowak    28    3.2
2   Wiśniewski    26    5.0
3    Dąbrowski    33    4.8
4  Lewandowski    22    3.9

## Ćwiczenie 2

Wybierz tylko te rekordy, w których wiek jest większy niż 25.

In [3]:
df_wiek_powyzej_25 = df[df['Wiek'] > 25]
print(df_wiek_powyzej_25)

     Nazwisko  Wiek  Ocena
0    Kowalski    30    4.5
1       Nowak    28    3.2
2  Wiśniewski    26    5.0
3   Dąbrowski    33    4.8

## Ćwiczenie 3

Posortuj DataFrame względem kolumny "Ocena" w malejącej kolejności.

In [4]:
df_posortowane = df.sort_values(by='Ocena', ascending=False)
print(df_posortowane)

      Nazwisko  Wiek  Ocena
2   Wiśniewski    26    5.0
3    Dąbrowski    33    4.8
0     Kowalski    30    4.5
4  Lewandowski    22    3.9
1        Nowak    28    3.2

## Ćwiczenie 4

Oblicz średnią wieku dla wszystkich rekordów w DataFrame.

In [5]:
srednia_wieku = df['Wiek'].mean()
print(f"Średnia wieku: {srednia_wieku}")

Średnia wieku: 27.8

## Ćwiczenie 5

Zapisz DataFrame do pliku CSV.

In [6]:
df.to_csv('dane.csv', index=False)

## Ćwiczenie 6

Stwórz DataFrame z dwoma kolumnami: "Data" (typu datetime) i "Wartość" (typu float). Wypełnij DataFrame danymi, które mają trend wzrostowy, ale z pewnymi losowymi fluktuacjami.

In [8]:
data_trend = {
    'Data': pd.date_range(start='2024-01-01', periods=100, freq='D'),
    'Wartość': np.random.normal(loc=1.5, scale=0.5, size=100).cumsum()
}

df_trend = pd.DataFrame(data_trend)
print(df_trend)

         Data     Wartość
0  2024-01-01    0.398901
1  2024-01-02    2.203431
2  2024-01-03    3.891551
3  2024-01-04    5.514740
4  2024-01-05    6.768032
..        ...         ...
95 2024-04-05  142.105953
96 2024-04-06  143.594535
97 2024-04-07  145.087371
98 2024-04-08  146.241011
99 2024-04-09  148.031361

[100 rows x 2 columns]

## Ćwiczenie 7

Wykorzystaj Pandas do wykonania operacji grupowania i obliczenia średniej kroczącej dla kolumny "Wartość" w oknie czasowym.

### Miejsce na rozwiązanie

In [10]:
df_trend['Srednia_kroczaca'] = df_trend['Wartość'].rolling(window=3, center=True).mean()
print(df_trend)

         Data     Wartość  Srednia_kroczaca
0  2024-01-01    0.398901               NaN
1  2024-01-02    2.203431          2.164628
2  2024-01-03    3.891551          3.869908
3  2024-01-04    5.514740          5.391441
4  2024-01-05    6.768032          6.940078
..        ...         ...               ...
95 2024-04-05  142.105953        141.994756
96 2024-04-06  143.594535        143.595953
97 2024-04-07  145.087371        144.974306
98 2024-04-08  146.241011        146.453247
99 2024-04-09  148.031361               NaN

[100 rows x 3 columns]

## Ćwiczenie 8

Złącz dwa różne DataFrames w oparciu o wspólną kolumnę, używając różnych rodzajów łączenia (inner, outer, left, right).

In [11]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'A': ['a1', 'a2', 'a3']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'B': ['b2', 'b3', 'b4']})

df_inner = pd.merge(df1, df2, on='ID', how='inner')
df_outer = pd.merge(df1, df2, on='ID', how='outer')
df_left = pd.merge(df1, df2, on='ID', how='left')
df_right = pd.merge(df1, df2, on='ID', how='right')

print("Inner Join:")
print(df_inner)
print("\nOuter Join:")
print(df_outer)
print("\nLeft Join:")
print(df_left)
print("\nRight Join:")
print(df_right)

Inner Join:
   ID   A   B
0   2  a2  b2
1   3  a3  b3

Outer Join:
   ID    A    B
0   1   a1  NaN
1   2   a2   b2
2   3   a3   b3
3   4  NaN   b4

Left Join:
   ID   A    B
0   1  a1  NaN
1   2  a2   b2
2   3  a3   b3

Right Join:
   ID    A   B
0   2   a2  b2
1   3   a3  b3
2   4  NaN  b4

## Ćwiczenie 9

Zapisz DataFrame do pliku JSON.

In [12]:
df.to_json('dane.json', orient='records', lines=True)

Wnioski: 
Zdania przechodziły przez różne funkcjonalności biblioteki pandas i zwierają metody które miałem już okazję wykorzystać w praktyce, jak średnie krocząca (bardzo ważna przy analizie danych, ale należy pamiętać o wartościach NaN na skraju), łączenie DataFrame na podstawie kolumny (bardzo podobny mechanizm jak przy relacyjnych bazach danych) i suma skumulowana cumsum